# Ignore build/output folders
dist/
build/
node_modules/

# Environment files
.env
.env.*

# System/cache files
.local/
*.bin
*.log
Thumbs.db
.DS_Store

# Editor related
.vscode/
.idea/

# Replit files
replit/
*.replit

# Misc
*.tmp
